#discs {
    display: flex;
}

.disc {
    width: 30%;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 5px solid black;
    padding: 20px;
    border-radius: 10px;
    margin-right: 10px;
}

.disc img {
    width: 100%;
    border-radius: 50%;
    border: 5px solid black;
}

#goblins {
    display: flex;
}

.goblin {
    width: 30%;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 5px solid black;
    padding: 20px;
    border-radius: 10px;
    margin-right: 10px
}

.goblin img {
    width: 100%;
}